/* Table of Contents
==================================================
    #Base Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */

/* #Base Grid
================================================== */
div.wrapper{width:100%;margin-left:0px;margin-right:0px;float:left;}
.one_fourth {display: inline;float: left; margin-right: 4%;overflow: hidden;position: relative;width: 22%;}
.one_third {display: inline;float: left; margin-right: 4%;overflow: hidden;position: relative;width: 30%;}
.one_half { display: inline;float: left;margin-right: 4%;overflow: hidden;position: relative;width: 48%;}
.two_third {display: inline;float: left; margin-right: 4%;overflow: hidden;position: relative;width: 66%;}
.three_fourth {display: inline;float: left; margin-right: 4%;overflow: hidden;position: relative;width: 74%;}
.last {margin-right: 0 !important;clear: right;}
.container_12{margin-left:auto;margin-right:auto;width:960px}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;margin-left:10px;margin-right:10px}
.alpha{margin-left:0}.omega{margin-right:0}
.container_12 .grid_3{width:220px}
.container_12 .grid_4{width:300px}
.container_12 .grid_6{width:460px}
.container_12 .grid_8{width:620px}
.container_12 .grid_9{width:700px}
.container_12 .grid_12{width:940px}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before,.clearfix:after,.container_12:before,.container_12:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.clearfix:after,.container_12:after{clear:both}
.clearfix,.container_12{zoom:1}
.regular-nav {display:block}
.ultimatum-responsive-menu{display:none;}
.hidden-desktop { display: none !important;}
/* #Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.hidden-desktop {display: inherit !important;}
	.hidden-tablet {display: none !important;}
	.container_12{margin-left:auto;margin-right:auto;width:720px}
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12{display:inline;float:left;margin-left:10px;margin-right:10px}
	.container_12 .grid_1{width:40px}
	.container_12 .grid_2{width:100px}
	.container_12 .grid_3{width:160px}
	.container_12 .grid_4{width:220px}
	.container_12 .grid_5{width:280px}
	.container_12 .grid_6{width:340px}
	.container_12 .grid_7{width:400px}
	.container_12 .grid_8{width:460px}
	.container_12 .grid_9{width:520px}
	.container_12 .grid_10{width:580px}
	.container_12 .grid_11{width:640px}
	.container_12 .grid_12{width:700px}
	.ultimatepost{float:left;width:100%;}
	img {max-width: 100%;height: auto;}
}
/*  #Mobile (Portrait)
================================================== */
@media only screen and (max-width: 767px) {
	.one_fourth, .one_third, .one_half, .two_third, .three_fourth {display: inline;float: left; margin-right: 0;overflow: hidden;position: relative;width: 100%;}
	.hidden-desktop {display: inherit !important; }
  	.hidden-phone {display: none !important; }
  	.regular-nav {display:none}
	.ultimatum-responsive-menu{display:block;}
	.container_12{width:300px;margin:0 auto;padding:0}
	.container_12 .grid_1,
	.container_12 .grid_2,
	.container_12 .grid_3,
	.container_12 .grid_4,
	.container_12 .grid_5,
	.container_12 .grid_6,
	.container_12 .grid_7,
	.container_12 .grid_8,
	.container_12 .grid_9,
	.container_12 .grid_10,
	.container_12 .grid_11,
	.container_12 .grid_12 {width:300px;}
	.alpha, .omega { margin-left: 0; margin-right: 0;}
	.align_center,.align_right { text-align: left;}
	.regular-nav {display:none}
	.ultimatum-responsive-menu{display:block;}
	img {max-width: 100%;height: auto;}
}
/* #Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container_12{width:420px;margin:0 auto;padding:0}
	.container_12 .grid_1,
	.container_12 .grid_2,
	.container_12 .grid_3,
	.container_12 .grid_4,
	.container_12 .grid_5,
	.container_12 .grid_6,
	.container_12 .grid_7,
	.container_12 .grid_8,
	.container_12 .grid_9,
	.container_12 .grid_10,
	.container_12 .grid_11,
	.container_12 .grid_12 {width:420px;}
	.alpha, .omega { margin-left: 0; margin-right: 0;}
	.align_center,.align_right { text-align: left;}
	img {max-width: 100%;height: auto;}
}

#wrapper-20{background-color: #1e1e1e;background-position:left top;background-repeat:repeat;border-top-style:none;border-bottom-style:none;min-height: 35px;margin-bottom: 1px;padding-top: 3px}#col-20-1 .colwrapper{background-position:left top;background-repeat:repeat;border-top-style:none;border-bottom-style:none;border-left-style:none;border-right-style:none;margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px}#col-20-1 .inner-container{margin-bottom: 0px}#col-20-2 .colwrapper{background-position:left top;background-repeat:repeat;border-top-style:none;border-bottom-style:none;border-left-style:none;border-right-style:none;margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;color: #ffffff}#col-20-2 .inner-container{margin-bottom: 0px}#col-20-2 a{color: #ffffff}#col-27-1 .colwrapper{background-position:left top;background-repeat:repeat;border-top-style:none;border-bottom-style:none;border-left-style:none;border-right-style:none;margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px}#col-27-1 .inner-container{margin-bottom: 0px}#wrapper-27{background-color: #1e1e1e;background-position:left top;background-repeat:repeat;border-top-style:none;border-bottom-style:none;margin-top: 0px;margin-bottom: 0px;padding-top: 2px;padding-bottom: 2px}#col-27-2 .colwrapper{background-position:left top;background-repeat:repeat;border-top-style:none;border-bottom-style:none;border-left-style:none;border-right-style:none;margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;color: #ccc;font-size: 12px;line-height: 24px}#col-27-2 .inner-container{margin-bottom: 0px}#col-27-2 a{color: #ccc}
#wrapper-21{background-image: url(/static/images/leaves-background.png);background-position:left top;background-repeat:repeat;border-top-style:none;border-bottom-style:none}#col-21-2 .colwrapper{background-position:left top;background-repeat:repeat;border-top-style:none;border-bottom-style:none;border-left-style:none;border-right-style:none;padding-top: 40px;padding-left: 10px}
#wrapper-23{background-position:left top;background-repeat:repeat;border-top-width:1px;border-top-color: #cccccc;border-top-style:solid;border-bottom-style:none;padding-top: 16px}#wrapper-23 a{color: #666}#col-32-2 .colwrapper{background-position:left top;background-repeat:repeat;border-top-style:none;border-bottom-style:none;border-left-style:solid;border-right-style:solid}#wrapper-32{background-position:left top;background-repeat:repeat;border-top-width:1px;border-top-color: #ddd;border-top-style:solid;border-bottom-style:none;padding-top: 10px}#wrapper-32 .inner-container{margin-bottom: 10px}#wrapper-32 h3, #wrapper-32 h3 a, #wrapper-32 h3 a:hover{color: #666;font-size: 24px;line-height: 30px}
#wrapper-33{background-position:left top;background-repeat:repeat;border-top-width:1px;border-top-color: #ddd;border-top-style:solid;border-bottom-style:none;padding-top: 10px}#wrapper-33 .inner-container{margin-bottom: 10px}#wrapper-33 h3, #wrapper-33 h3 a, #wrapper-33 h3 a:hover{color: #666;font-size: 24px;line-height: 30px}

body {
  background-position: top left;
  background-repeat: repeat;
}
#logo-container {
  margin-top: 0px;
  margin-bottom: 0px;
}
h1, h1 a, h1 a:hover, h1 a:visited,
h2, h2 a, h2 a:hover, h2 a:visited,
h3, h3 a, h3 a:hover, h3 a:visited,
h4, h4 a, h4 a:hover, h4 a:visited,
h5, h5 a, h5 a:hover, h5 a:visited,
h6, h6 a, h6 a:hover, h6 a:visited,
blockquote {
  font-family: 'Droid Sans', 'DejaVu Sans',Arial,Helvetica,sans-serif;
  color: #000000;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
h1, h1 a, h1 a:hover, h1 a:visited {
  font-size: 32px;
  line-height: 38px;
}
h2, h2 a, h2 a:hover, h2 a:visited {
  font-size: 24px;
  line-height: 30px;
}
h3, h3 a, h3 a:hover, h3 a:visited {
  font-size: 18px;
  line-height: 24px;
}
h4, h4 a, h4 a:hover, h4 a:visited {
  font-size: 14px;
  line-height: 18px;
}
h5, h5 a, h5 a:hover, h5 a:visited {
  font-size: 13px;
  line-height: 16px;
}
h6, h6 a, h6 a:hover, h6 a:visited {
  font-size: 12px;
  line-height: 15px;
}
blockquote {
  font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size: 16px;
  line-height: 24px;
}
a {
  color: #0066ff;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
  a:hover {
  color: #182e7a;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
h1.multi-post-title, h1.multi-post-title a, h1.multi-post-title a:hover, h1.multi-post-title a:visited {
  padding-left: 0px;
  background-position: top left;
  background-repeat: repeat;

  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
.multi-post-title {
  border-width: 0;
  border-style: none;
}
div.post-inner, .post-inner-single {
  padding-top:0;
  padding-bottom: 0px;
  background-position: top left;
  background-repeat: repeat;
  border-width: 0px;
  border-style: none;
}
.post-header {
  padding-left: 0px;
  background-position: top left;
  background-repeat: repeat;
  border-width: 0px;
  border-style: none;
  border-color: #2b8994;
  padding-bottom: 0.5em;
}
div.post-meta {
  background-position: top left;
  background-repeat: repeat;
}
.post-meta {
  border-width: 0px;
  border-style: none;
  padding-top: 0px;
  padding-bottom: 0px;
}
h2.post-header, h2.post-header a, h2.post-header a:hover, h2.post-header a:visited {
  font-size: 24px;
  line-height: 30px;
  color: #1e3d41;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.post-meta, div.post-meta a {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.post-taxonomy span {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.post-taxonomy a {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
a.readmorecontent {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.breadcrumbs-plus p span, div.breadcrumbs-plus p, div.breadcrumbs-plus p a {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.breadcrumbs-plus p span.breadcrumbs-title {
  color: #000000;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.breadcrumbs-plus p strong {
  color: #000000;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
.wp-pagenavi a, .wp-pagenavi span {
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
.wp-pagenavi span.current {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
ul.tabs li a {
background-color: #0;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
ul.tabs li a:hover {
background-color: #0;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
ul.tabs li a.current {
background-color: #0;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
div.tabs-wrapper div.panes {
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
.accordion-toggle {
background-color: #0;
}
.accordion .current {
background-color: #0;
}
div.accordion div.pane {
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
h4.accordion-toggle, h4.accordion-toggle a, h4.accordion-toggle a:hover, h4.accordion-toggle a:visited {
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
.toggle_title {
background-color: #0;
}
.acctogg_active {
background-color: #0;
}
.toggle_title a.toggle-title {
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
div.toggle_content {
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
h3.slidertitle, h3.slidertitle a, h3.slidertitle a:hover, h3.slidertitle a:visited {
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
p.slidertext {
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
.anyCaption h3.slidertitle, .s3caption h3.slidertitle, .anyCaption h3.slidertitle, .s3caption h3.slidertitle a, .anyCaption h3.slidertitle, .s3caption h3.slidertitle a:hover, .anyCaption h3.slidertitle, .s3caption h3.slidertitle a:visited {
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
.anyCaption p.slidertext, .s3caption p.slidertext {
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
h1.super-title, h1.super-title a, h1.super-title a:hover, h1.super-title a:visited {
font-family: "Yanone Kaffeesatz", Arial, sans-serif;
font-size: 16px;
line-height: 19px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
h3.element-title, h3.element-title a, h3.element-title a:hover, h3.element-title a:visited {
font-family: "Yanone Kaffeesatz", Arial, sans-serif;
font-size: 30px;
line-height: 36px;
font-weight: normal;
font-style: normal;
text-decoration: none;
}
.element-title {
background-color: #FFFFFF;
background-position: top left;
background-repeat: repeat;
border-width: 0px;
border-style: none;
}